/*****************TRANSITION*********************/
/*.fade-efect{
    transition: all 0.25s ease-out;
}
.fade-efect-hide{
    filter: blur(2px);
    opacity: 0;
}
.fade-efect-show{
    filter: blur(0px);
    opacity: 1;
}*/

/*****************ANIMATION************************/
    /*****************Login Component***********************/
@keyframes fade-efect-hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes fade-efect-hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes fade-efect-hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fade-efect-hide{
    animation: fade-efect-hide 0.25s ease 1;
    -moz-animation: fade-efect-hide 0.25s ease 1;
    -webkit-animation: fade-efect-hide 0.25s ease 1;
}

@keyframes fade-efect-show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fade-efect-show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fade-efect-show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fade-efect-show{
    animation: fade-efect-show 0.25s ease 1;
    -moz-animation: fade-efect-show 0.25s ease 1;
    -webkit-animation: fade-efect-show 0.25s ease 1;
}
    /***************Grid Link Button**********************/
@keyframes grid-link-button {
    0% {opacity: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg);}
    100% {opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg);}
}
@-moz-keyframes grid-link-button {
    0% {opacity: 0; -moz-transform: rotate(180deg); filter: blur(0px);}
    100% {opacity: 1; -moz-transform: rotate(0deg); filter: blur(0px);}
}
@-webkit-keyframes grid-link-button {
    0% {opacity: 0; -webkit-transform: rotate(180deg); filter: blur(0px);}
    100% {opacity: 1; -webkit-transform: rotate(00deg); filter: blur(0px);}
}
.link-button-container .button a img{
    animation: grid-link-button 0.75s ease 1;
    -moz-animation: grid-link-button 0.75s ease 1;
    -webkit-animation: grid-link-button 0.75s ease 1;
}
    /***************Loader Component************************/
@keyframes loading-anim {
    0% {-webkit-transform: rotate(0deg); transform: rotate(0deg); filter: blur(0px); -webkit-filter: blur(0px);}
    50% {-webkit-transform: rotate(180deg); transform: rotate(180deg); filter: blur(1px); -webkit-filter: blur(1px);}
    100% {-webkit-transform: rotate(360deg); transform: rotate(360deg); filter: blur(0px); -webkit-filter: blur(0px);}
}
@-moz-keyframes loading-anim {
    0% {-moz-transform: rotate(0deg); filter: blur(0px); -webkit-filter: blur(0px);}
    50% {-moz-transform: rotate(180deg); filter: blur(1px); -webkit-filter: blur(1px);}
    100% {-moz-transform: rotate(360deg); filter: blur(0px); -webkit-filter: blur(0px);}
}
@-webkit-keyframes loading-anim {
    0% {-webkit-transform: rotate(0deg); filter: blur(0px); -webkit-filter: blur(0px);}
    50% {-webkit-transform: rotate(180deg); filter: blur(1px); -webkit-filter: blur(1px);}
    100% {-webkit-transform: rotate(360deg); filter: blur(0px); -webkit-filter: blur(0px);}
}
.loading-anim{
    animation: loading-anim 0.5s linear infinite;
    -moz-animation: loading-anim 0.5s linear infinite;
    -webkit-animation: loading-anim 0.5s linear infinite;
}
    /******************************Vue Transition***********************************/
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
    -ms-transform: translateX(10px) rotate(8deg); /* IE 9 */
    -webkit-transform: translateX(10px) rotate(8deg);
    transform: translateX(10px) rotate(8deg);
    opacity: 0;
    height: 0px;
}