body{
    background-color: #f5f5f5 !important;
}
.btn{
    text-transform: none !important;
}
.map-toolbar{
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.title-info{
    background-color: honeydew;
}
.main-info{
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
}
.main-info>div>img{
    top: 5px;
    position: relative;
}
.main-info>div>a{
    color: #292b2c;
}
.main-info>div>a:hover,
.main-info>div>a:focus{
    color: #02d875;
    text-decoration: none;
}
.second-info{
    border-bottom: 1px solid #aaaaaa;
}
.value-info{
    font-size: small;
    font-style: italic;
}
.warning-info{
    font-style: italic;
    background-color: bisque;
}
.copyright-info{
    font-size: small;
}
.map-focus-position{
    width: 25px;
    height: 25px;
    padding-top: 2.5px;
    margin-left: 5px;
    top: 11px !important;
    cursor: pointer;
    color: #666666;
    background-color: #ffffff;
}
.map-focus-position i{
    font-size: 20px;
}
/******************************** Custom grids ******************************/
    /**************FIXES*******************/
.full-large-group .btn.dropdown-toggle{
    margin-left: 0px !important;
}
.dropdown-submenu>a:after{
    content: '' !important;
}
    /***************************************/
.no-edit-mode{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
    text-align: center;
    min-height: 34px;
}
.btn-customized,
.grid-custom-handlers,
.grid-handlers{
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: white !important;
    color: #4550a5 !important;
    border-color: #4550a5 !important;
}
.open .btn-customized,
.btn-customized:hover,
.btn-customized:active,
.btn-customized:focus,
.grid-custom-handlers:hover,
.grid-custom-handlers:active,
.grid-custom-handlers:focus,
.grid-handlers:hover,
.grid-handlers:active,
.grid-handlers:focus{
    background-color: #292b2c !important;
    color: white !important;
    border-color: white !important;
}
div.grid-container>div>nav>ul.pagination>li>span{
    color: #4550a5;
}
div.grid-container>div>nav>ul.pagination>li>span:hover{
    color: #292b2c;
}
div.grid-container>div>nav>ul.pagination>li>a{
    color: #4550a5;
}
div.grid-container>div>nav>ul.pagination>li.active>a{
    background-color: #292b2c;
    color: white;
}
a.grid-row-anchor-customized{
    color: #333;
}
.grid-row-customized:hover{
    background-color: #f5f5f5;
    color: #4550a5;
}
.grid-row-highlight-customized{
    background-color: #f5f5f5;
}
.pagination>li.active>a{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.alert-overlay-custom{
    
}
.alert-title-custom{
    background-color: #101010 !important;
    color: white !important;
}
.alert-box-custom{
    border-radius: 4px !important;
    padding-bottom: 15px;
}
.alert-box-custom p{
    border-radius: 4px !important;
    padding-bottom: 15px;
}
.alert-btn-customized{
    border-left: 0px;
    border-right: 0px;
    border-radius: 4px !important;
    
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: white;
    color: #4550a5;
    border-color: #4550a5;
}
.alert-btn-customized:hover,
.alert-btn-customized:active,
.alert-btn-customized:focus{
    background-color: #292b2c !important;
    color: white !important;
    border-color: white !important;
}
.custom-color-box{
    height: 20px;
    top: 7px;
    border-left: #444444 1px solid;
}
.custom-style-handlers-container{
    position: relative;
    top: 7px;
}
.style-add-container{
    position: relative;
    z-index: 1000;
}
.loader-custom-container{
    position: relative;
    width: 150px;
    height: 50px;
    top: 50%;
    bottom: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f8f8ff;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-radius: 5px;
}
.footer{
    clear: both;
    position: relative;
    height: 70px;
}
.footer-container{
    position: relative;
    height: 50px;
    top: 20px;
    text-align: center;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-top: 1px solid;
}
.footer-text{
    position: relative;
    top: 15px;
}
.style-handlers{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}
    /**************EXTRAS******************/
.grid-row-customized.selected{
    background-color: #4550a5;
    color: white;
}
.grid-relation{
    max-height: 1000px;
    min-height: 500px;
    overflow-y: auto;
}
.grid-route{
    height: 656px;
    overflow-y: auto;
}
    /**************************************/
/********************************** Modal styles *********************************/
.modal-header-custom{
    padding-bottom: 15px;
    background-color: #292b2c;
    color: white;
}
.modal-buttom-custom{
    top: 30% !important;
    color: white;
}
.modal-footer-custom{
    background-color: rgba(238, 238, 238, 1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/********************************** Adaptations ***********************************/
.navbar-brand{
    padding: 5px !important;
}
.navbar-brand img{
    height: 38px !important;
}
.switchery-custom.active{
    background-color: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    box-shadow: rgb(100, 189, 99) 0px 0px 0px 12px inset;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}
.switchery-custom.active.info{
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
    box-shadow: rgb(33, 150, 243) 0px 0px 0px 12px inset;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}
.switchery-custom.active small{
    left: 22px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s, left 0.2s;
}
.switchery-custom.not-active{
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s, box-shadow 0.4s;
}
.switchery-custom.not-active small{
    left: 0px;
    transition: background-color 0.4s, left 0.2s;
}

.switchery-three-option{
    width: 66px;
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
}
.switchery-three-option.one{
    background-color: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    box-shadow: rgb(100, 189, 99) 0px 0px 0px 12px inset;
}
.switchery-three-option.two{
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
    box-shadow: rgb(33, 150, 243) 0px 0px 0px 12px inset;
}
.switchery-three-option.three{
    background-color: #4550a5;
    border-color: #4550a5;
    box-shadow: #4550a5 0px 0px 0px 12px inset;
}
.switchery-three-option.one small{
    left: 0px;
    transition: background-color 0.4s, left 0.2s;
}
.switchery-three-option.two small{
    left: 22px;
    transition: background-color 0.4s, left 0.2s;
}
.switchery-three-option.three small{
    left: 44px;
    transition: background-color 0.4s, left 0.2s;
}
.label-three-option{
     padding-right: 80px !important;
}

.schedule-title{
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top: 0px;
}
.panel.panel-flat{
    box-shadow: 6px 6px 6px #888888;
}
.wizard > .steps > ul > li.current .number{
    border-color: #4550a5 !important;
    color: #4550a5 !important;
}
.wizard > .steps > ul > li.done .number{
    background-color: #4550a5 !important;
    border-color: #4550a5 !important;
}
.wizard > .steps > ul > li.done.active a{
    color: #333333;
}
.wizard > .steps > ul > li.active a{
    border-color: #4550a5 !important;
    color: #ccc;
}
.wizard > .steps > ul > li:before,
.wizard > .steps > ul > li:after{
    background-color: #4550a5;
}
.bootstrap-select.btn-group.open > .btn-default.dropdown-toggle,
.form-control:focus,
.form-control:active{
    border-bottom-color: #4550a5 !important;
    -webkit-box-shadow: 0 1px 0 #4550a5 !important;
    box-shadow: 0 1px 0 #4550a5 !important;
}
.bootstrap-select.btn-group .dropdown-menu > .selected > a{
        background-color: #4550a5;
}
.filename{
    color: #999999 !important;
    border-right-color: #999999 !important;
    border-top-color: #999999 !important;
    border-bottom-color: #999999 !important;
    border-radius: 5px;
}
.import-file{
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: #4550a5 !important;
    color: white !important;
    border-color: white !important;
}
.flat-handler-custom{
    padding-left: 5px;
    padding-right: 5px;
}
nav>ul.pagination>li>span{
    color: #4550a5;
}
nav>ul.pagination>li>span:hover{
    color: #292b2c;
}
nav>ul.pagination>li>a{
    color: #4550a5;
}
nav>ul.pagination>li.active>a,
nav>ul.pagination>li.active>a:focus,
nav>ul.pagination>li.active>a:hover{
    background-color: #292b2c;
    color: white;
}
.link-row-select{
    background-color: #292b2c !important;
    color: white;
}
.link-button-container{
    z-index: -10;
    top: 50px;
    width: 100%;
    position: fixed;
    padding: 30px;
}
.link-button-container.active{
    z-index: 10;
}
.link-button-container .button a img{
    width: 150px;
}
.map-container-modal{
    height: 250px;
}
.map-container-route{
    height: 750px;
}
/********************************** Transitions ***********************************/
button.btn-customized,
a.grid-handlers{
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12{
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    -ms-transition: width 0.4s ease;
    transition: width 0.4s ease;
}