/*****************************Main Transition***********************************/
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
    -ms-transform: translateX(10px) rotate(8deg); /* IE 9 */
    -webkit-transform: translateX(10px) rotate(8deg);
    transform: translateX(10px) rotate(8deg);
    opacity: 0;
    height: 0px;
}